<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
    background-image: url("https://hips.hearstapps.com/digitalspyuk.cdnds.net/16/30/1469624095-nintendo-mario.gif?crop=1xw:0.8090614886731392xh;center,top&resize=640:*");
    background-color: #cccccc;
    }
</style>
    <meta charset="UTF-8">
    <title>Mario Museum</title>
    <h1 style="color:white; text-align:center;"> Welcome to the Mario Museum!!!</h1>

<header>
    <div class="container"></div>

    <title>Navigation</title>

    <nav>
        <ul>
            <li><a href="#">Home</a> </li>
            <li><a href="#">Mario 64</a> </li>
            <li><a href="#">Mario Sunshine</a> </li>
            <li><a href="#">Mario Galaxy</a> </li>
            <li><a href="#">Mario Odyssey</a> </li>
        </ul>
    </nav>
</header>
</head>
<body>
<iframe src="https://drive.google.com/file/d/1YzrzgJ5fCn_RSHAH9E8uOjajw0BCb1uS/preview" width="467" height="307"></iframe>
<iframe src="https://drive.google.com/file/d/11V-Sfh0OpmEyMew5W2G0s0y-kj37HSjc/preview" width="467" height="307"></iframe>
<iframe src="https://drive.google.com/file/d/1VFg-s_0Urk_WyT1b23Fy6bn5ynNOhxwP/preview" width="467" height="307"></iframe>
<iframe src="https://drive.google.com/file/d/16gkPdeOCOjd6wan4e0CNdDJoH7YDE6NB/preview" width="467" height="307"></iframe>
</body>
</html>
#testtest